/* detalhes.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: black;
    font-family: Arial Black,Arial Bold;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: bold;
    line-height: 1;
}

.source-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.source-table th, .source-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.source-table th {
    background-color: #0349ae;
    color: white;
}

.source-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.source-table tr:hover {
    background-color: #f1f1f1;
}
.buttons-top {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os botões */
    margin-bottom: 30px;
}

.btn-oqfazer {
    background-color: #0349ae;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.btn-oqfazer:hover {
    background-color: #02378e;
    transform: scale(1.05); /* Efeito de zoom */
}

.btn-voltar {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-voltar:hover {
    background-color: #999;
    transform: scale(1.05); /* Efeito de zoom */
}