/* detalhes.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 35px;
    color: black;
    font-family: Arial Black,Arial Bold;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1;
}

.source-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.source-table th, .source-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.source-table th {
    background-color: #0349ae;
    color: white;
}

.source-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.source-table tr:hover {
    background-color: #f1f1f1;
}
