* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
}

.container-result {
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: black;
    font-family: Arial Black,Arial Bold;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1;
}

.alert-icon {
    font-size: 160px;
    color: #0349ae;
    animation: pulse 1.5s infinite; /* Animação adicionada */
}

/* Animação de "pulse" para o ícone */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* O ícone aumenta um pouco */
    }
    100% {
        transform: scale(1);
    }
}

.subtitle {
    font-size: 28px;
    color: #000000;
    margin-bottom: 30px;
}

.result-box {
    width: auto;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.back-button {
    background-color: #0349ae;
    color: white;
    padding: 15px 40px;
    margin-top: 40px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.back-button:hover {
    background-color: #03449e;
}
